* {
  font-family: "Roboto", sans-serif;
}

html {
  background-color: #f4f6f7;
}

.big-title {
  font-weight: bold;
  font-size: xx-large;
}

.title {
  font-weight: bold;
  font-size: x-large;
}

.sub-title {
  font-weight: bold;
  font-size: large;
}

.label {
  font-weight: bold;
  font-size: smaller;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  height: 1000px;
}

.navbar {
  background-color: rgb(44, 62, 80);
  width: 20%;
  height: 100%;
  text-align: left;
  padding-left: 1%;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  width: 79%;
  height: 100%;
  overflow: auto;
}

.card {
  width: 300px;
  height: 400px;
  padding: 10px;
}

.chart {
  width: 280px;
  height: 280px;
}
