* {
  font-family: "Roboto", sans-serif;
}

html {
  background-color: #87D0C1;
  text-align: center;
}

button {
  margin: 5px;
  padding: 5px;
}

.button-set {
  display: block;
  margin: 0 auto;
}

.big-title {
  font-weight: bold;
  font-size: xx-large;
}

.title {
  font-weight: bold;
  font-size: x-large;
}

.sub-title {
  font-weight: bold;
  font-size: large;
}

.label {
  font-weight: bold;
  font-size: smaller;
}

.container {
  display: flex;
}

#map {
  width: 50%;
}

#geo-map {
  background-color: #f4f6f7;
}

#svg-graph {
  background-color: #f4f6f7;
}

#info {
  width: 50%;
}
